.navigation{
}

.header{
    
    
    background-color: #f2f2f2;
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    width:100%;
   
    div{
        width: 200px;
    }
    .icon{

    }

}